.output {
    width: 75%;
    padding: 30px;
}

.format {
    display:flex;
    padding: 10px;
}

.iee754 {
    display: flex;
    flex-direction: column;
}



.home {
    padding:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}